.row {
    margin-left: auto!important;
    margin-right: auto!important;
}

h1 {
    color: blue;
}

.game-box {
   background-color: aliceblue;
}

.player-box {
    background-color: plum;
}

.player-choice-box {
    background-color: palevioletred;
}