h1 {
    color: blue;
}

.game-box {
    margin-left: auto!important;
    margin-right: auto!important;
}

.player-box {
    background-color: plum;
}

.player-choice-box {
    background-color: palevioletred;
    margin-left: auto!important;
    margin-right: auto!important;
}